%p#links
  %a{ :href => "/nola-contest-sitenola-contest-site/about/"} About
  –
  %a{ :href => "/nola-contest-sitenola-contest-site/terms/"} Terms
  –
  %a{ :href => "/nola-contest-sitenola-contest-site/policy/"} Policy
  –
  %a{ :href => "/nola-contest-site/us/" } Us

%p#badges
  %a{ :href => "http://www.w3.org/html/logo/" }
    %img{ :src => "http://www.w3.org/html/logo/badge/html5-badge-h-css3-device-performance-semantics.png", :width => 229, :height => 64, :alt => "HTML5 Powered with CSS3 / Styling, Device Access, Performance &amp; Integration, and Semantics", :title => "HTML5 Powered with CSS3 / Styling, Device Access, Performance &amp; Integration, and Semantics" }

  %a{ :href => "mailto:kurtisrainboltgreene@gmail.com" }
    %img{ :src => "nola-contest-site/image/mail.png", :width => 64, :height => 64, :alt => "...", :title => "..." }

  %a{ :href => "http://nola.hackd.org/rss/" }
    %img{ :src => "nola-contest-site/image/rss.png", :width => 64, :height => 64, :alt => "...", :title => "..." }

  %a{ :href => "http://facebook.com/hacker-act-nola/" }
    %img{ :src => "nola-contest-site/image/facebook.png", :width => 64, :height => 64, :alt => "...", :title => "..." }

  %a{ :href => "http://twitter.com/hacker-act-nola/" }
    %img{ :src => "nola-contest-site/image/twitter.png", :width => 64, :height => 64, :alt => "...", :title => "..." }