%p#links
  %a{ :href => "/about"} About
  –
  %a{ :href => "/terms"} Terms
  –
  %a{ :href => "/policy"} Policy
  –
  %a{ :href => "/us" } Us

%p#badges
  %a{ :href => "http://www.w3.org/html/logo/" }
    %img{ :src => "http://www.w3.org/html/logo/badge/html5-badge-h-css3-device-performance-semantics.png", :width => 229, :height => 64, :alt => "HTML5 Powered with CSS3 / Styling, Device Access, Performance &amp; Integration, and Semantics", :title => "HTML5 Powered with CSS3 / Styling, Device Access, Performance &amp; Integration, and Semantics" }

  %a{ :href => "mailto:kurtisrainboltgreene@gmail.com" }
    %img{ :src => "image/mail.png", :width => 64, :height => 64, :alt => "...", :title => "..." }

  %a{ :href => "http://nola.hacker-act.org" }
    %img{ :src => "image/rss.png", :width => 64, :height => 64, :alt => "...", :title => "..." }

  %a{ :href => "http://facebook.com/hacker-act-nola/" }
    %img{ :src => "image/facebook.png", :width => 64, :height => 64, :alt => "...", :title => "..." }

  %a{ :href => "http://twitter.com/hacker-act-nola/" }
    %img{ :src => "image/twitter.png", :width => 64, :height => 64, :alt => "...", :title => "..." }