%h1 hacker ACT!

%p
  the new orleans hacker
  <strong>A</strong>pplication
  <strong>C</strong>on<strong>T</strong>est.

%p#navigation
  %a.btn.primary{ :href => '/rules' }
    %strong Rules
  %a.btn{ :href => '/judges' }
    Judges
  %a.btn{ :href => '/teams' } 
    Teams
  %a.btn{ :href => '/sponsers' }
    Sponsers
  %a.btn.disabled{ :href => '/projects' }
    Projects
