#countdown

%h1 hacker ACT!

%p
  the new orleans hacker
  <strong>A</strong>pplication
  <strong>C</strong>on<strong>T</strong>est.

%p#navigation
  %a.btn.primary{ :href => '/nola-contest-site/rules/' }
    %strong Rules
  %a.btn{ :href => '/nola-contest-site/judges/' }
    Judges
  %a.btn{ :href => '/nola-contest-site/teams/' }
    Teams
  %a.btn{ :href => '/nola-contest-site/sponsers/' }
    Sponsers
  %a.btn.disabled{ :href => '/nola-contest-site/projects/' }
    Projects
