%section#links
%section#banner
  %h1
    %img{:src => 'image/logo.png', :alt => 'Hack Dat', :title => 'Hack Dat'}

  %p
    the NOLA 48-hour code contest for building
    an entire website in an entire weekend

    %img{:src => 'image/ribbon.png', :alt => 'Nov 4th, 6pm - Nov 6th, 6pm', :title => 'Nov 4th, 6pm - Nov 6th, 6pm'}
