#countdown

%h1 hacker ACT!

%p
  the new orleans hacker
  <strong>A</strong>pplication
  <strong>C</strong>on<strong>T</strong>est.

%p#navigation
  %a.btn.primary{ :href => '/nola-competition-site/rules' }
    %strong Rules
  %a.btn{ :href => '/nola-competition-site/judges' }
    Judges
  %a.btn{ :href => '/nola-competition-site/teams' }
    Teams
  %a.btn{ :href => '/nola-competition-site/sponsers' }
    Sponsers
  %a.btn.disabled{ :href => '/nola-competition-site/projects' }
    Projects
