%section#icons.row
  #plan.span4
    %h2 Plan.
    %img{:src => 'image/plan.png', :alt => '', :title => ''}
    %p
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  .span2.arrow-divider
    %img{:src => ''}
  #code.span4
    %h2 Code.
    %img{:src => 'image/code.png', :alt => '', :title => ''}
    %p
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  .span2.arrow-divider
    %img{:src => ''}
  #win.span4
    %h2 Win.
    %img{:src => 'image/win.png', :alt => '', :title => ''}
    %p
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
