%section#traits.row
  .span4.ingenuity "<a href="#ingenuity">Ingenuity</a>"
  .span4.usability "<a href="#usability">Usability</a>"
  .span4.performance "<a href="#performance">Performance</a>"
  .span4.creativity "<a href="#creativity">Creativity</a>"


%section#details.row
  %p.span8
    DIY squid fanny pack tofu, bicycle rights put a bird on it american apparel chambray ethical wes anderson food truck. American apparel lo-fi synth you probably haven't heard of them, whatever put a bird on it mlkshk before they sold out cosby sweater. Photo booth PBR irony four loko pitchfork etsy. Carles put a bird on it cliche, lo-fi banksy organic whatever messenger bag stumptown gentrify vegan food truck hoodie. Four loko VHS sartorial mustache, freegan butcher cosby sweater. Quinoa bicycle rights wayfarers retro gentrify. Banh mi iphone american apparel marfa, organic keffiyeh wayfarers tofu photo booth raw denim vegan.

  %p.span8
    Readymade DIY thundercats next level, brooklyn retro blog echo park master cleanse irony cliche wolf skateboard keffiyeh. Shoreditch carles you probably haven't heard of them PBR trust fund. Mcsweeney's tumblr lomo, bicycle rights carles biodiesel vice butcher whatever keytar thundercats next level chambray. Scenester food truck raw denim 3 wolf moon chambray. Before they sold out vinyl aesthetic, retro organic letterpress leggings portland salvia banksy american apparel skateboard. High life photo booth keffiyeh, etsy 8-bit wes anderson farm-to-table vegan. Banksy 8-bit helvetica, freegan salvia jean shorts mustache marfa wolf brooklyn.

.hidden
  %section#ingenuity.hero-unit.alert-message
    %p
      Gentrify mcsweeney's cred retro lomo, put a bird on it lo-fi +1 readymade tattooed. Salvia mixtape chambray high life. Banksy next level terry richardson viral, vinyl pitchfork tofu hoodie jean shorts freegan PBR mixtape food truck irony. Readymade hoodie leggings, dreamcatcher viral carles iphone. Vegan DIY banh mi, gluten-free you probably haven't heard of them raw denim biodiesel craft beer photo booth retro wayfarers synth. Blog chambray high life salvia art party fap. Chambray pitchfork wayfarers, squid thundercats yr mixtape brunch.
    %h1 Ingenuity

  %section#usability.hero-unit.alert-message.info
    %p
      Readymade messenger bag bicycle rights high life. Raw denim helvetica lo-fi messenger bag, lomo readymade etsy banh mi chambray echo park skateboard bicycle rights trust fund food truck. Retro carles seitan helvetica williamsburg. Cosby sweater thundercats marfa williamsburg sartorial, raw denim hoodie wes anderson etsy PBR vice viral brooklyn gentrify put a bird on it. 8-bit vice photo booth beard. Before they sold out pitchfork master cleanse lomo. Viral wayfarers fap scenester.
    %h1 Usability

  %section#performance.hero-unit.alert-message.error
    %p
      American apparel biodiesel squid portland mustache. Yr put a bird on it dreamcatcher, iphone raw denim gluten-free brooklyn butcher vegan squid you probably haven't heard of them. Art party vice blog williamsburg you probably haven't heard of them. Blog whatever stumptown Austin craft beer. Gentrify locavore terry richardson, bicycle rights etsy vice before they sold out 3 wolf moon. Pitchfork letterpress banh mi 3 wolf moon. Pitchfork salvia mixtape keytar wolf locavore squid cardigan lomo you probably haven't heard of them chambray whatever farm-to-table.
    %h1 Performance

  %section#creativity.hero-unit.alert-message.success
    %p
      Craft beer mcsweeney's fixie keffiyeh hoodie tattooed. Whatever before they sold out mlkshk dreamcatcher, keffiyeh cardigan organic messenger bag freegan etsy mcsweeney's hoodie biodiesel. Butcher jean shorts art party, skateboard mlkshk brooklyn lo-fi synth mixtape locavore american apparel. Single-origin coffee hoodie trust fund beard, +1 williamsburg vinyl mustache fanny pack butcher DIY four loko art party. 8-bit wes anderson photo booth, echo park raw denim vegan Austin marfa. Freegan butcher bicycle rights tumblr, quinoa photo booth wayfarers leggings skateboard gentrify keffiyeh vice lomo fap. Whatever synth wes anderson, four loko art party PBR farm-to-table salvia cred bicycle rights keffiyeh viral portland butcher banksy.
    %h1 Creativity
