%h2 Teams

%p
  Vinyl squid banksy cardigan, fixie helvetica dreamcatcher photo booth gluten-free raw denim echo park lo-fi. Cred yr fanny pack, beard mlkshk keytar lo-fi cardigan brooklyn salvia freegan. Sustainable raw denim american apparel cred, irony 3 wolf moon portland tofu etsy. Pitchfork organic biodiesel DIY brunch. Photo booth mixtape DIY salvia vinyl, wes anderson master cleanse messenger bag. American apparel fixie scenester hoodie PBR put a bird on it master cleanse, brooklyn banh mi portland trust fund. Cred gentrify twee hoodie sustainable dreamcatcher.

%section#teams.row
  %article.team.span8
    %h3 Team Red
    %p.well
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    %section.avatars.row
      .span2
        %a{ :href => "http://twitter.com/krainboltgreene" }
          %img{ :src => "http://lorempixum.com/64/64/people/1" }
      .span2
        %a{ :href => "http://twitter.com/krainboltgreene" }
          %img{ :src => "http://lorempixum.com/64/64/people/2" } 
      .span2
        %a{ :href => "http://twitter.com/krainboltgreene" }
          %img{ :src => "http://lorempixum.com/64/64/people/3" }
      .span2
        %a{ :href => "http://twitter.com/krainboltgreene" }
          %img{ :src => "http://lorempixum.com/64/64/people/4" }

  %article.team.span8
    %h3 Team Blue
    %p.well
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    %section.avatars.row
      .span8
        %a{ :href => "http://twitter.com/krainboltgreene" }
          %img{ :src => "http://lorempixum.com/64/64/people/5" }

  %article.team.span8
    %h3 Team Yellow
    %p.well
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    %section.avatars.row
      .span3
        %a{ :href => "http://twitter.com/krainboltgreene" }
          %img{ :src => "http://lorempixum.com/64/64/people/6" }
      .span2
        %a{ :href => "http://twitter.com/krainboltgreene" }
          %img{ :src => "http://lorempixum.com/64/64/people/7" } 
      .span3
        %a{ :href => "http://twitter.com/krainboltgreene" }
          %img{ :src => "http://lorempixum.com/64/64/people/8" }
