%section#links
  .container
    %p.register
      %a{ :href => '/register/', :title => 'Register' }
        %img{:src => '/img/register_button.png', :alt => 'Register A Team', :title => 'Register A Team'}
    %p
      %a{ :href => '/', :title => '' }
        %strong About
      %a{ :href => '/teams.html', :title => '' }
        %strong Teams
      %a{ :href => '/judges.html', :title => '' }
        %strong Judges
      %a{ :href => '/rules.html', :title => '' }
        %strong Rules
      %a{ :href => '/faq.html', :title => '' }
        %strong FAQ

.stripe
%section#banner
  .container
    .span8
      %h1
        %img{:src => '/img/logo.png', :alt => 'Hack Dat', :title => 'Hack Dat'}
    .span6
      %p the NOLA 48-hour code contest for building an entire website in an entire weekend
      %p.ribbon
        %img{:src => '/img/ribbon.png', :alt => 'Nov 4th, 6pm - Nov 6th, 6pm', :title => 'Nov 4th, 6pm - Nov 6th, 6pm'}
.stripe
