---
layout_engine: erb
---

%section#icons.row
  .span4
    #plan
      %h2 Plan.
      %p.icon
        %img{:src => '/img/plan.png', :alt => 'Plan It', :title => 'Plan.'}
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod

  .span1
    %p.arrow-divider
      %img{:src => '/img/arrow.png'}

  .span4
    #code
      %h2 Code.
      %p.icon
        %img{:src => '/img/code.png', :alt => 'Code It', :title => 'Code.'}
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod

  .span1
    %p.arrow-divider
      %img{:src => '/img/arrow.png'}

  .span4
    #win
      %h2 Win.
      %p.icon
        %img{:src => '/img/win.png', :alt => 'Win It', :title => 'Win.'}
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
